<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key><string>boot.shutdown.script.setvol</string>
        <key>ProgramArguements</key>
        <array>
            <string>~/Downloads/setvol.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>

        <key>StandardOutPath</key>
        <string>~/Library/Logs/setvol.log</string>

        <key>StamdardErrorPath</key>
        <string>~/Library/Logs/setvol.err</string>
    </dict>
</plist>
